#PokemonContainer{
    display: flex;
    flex-direction: column;
    color: blue;
    width: 10%;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
#PokemonContainer:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#PokemonImg{
    width: 100%;
    background-color: rgba(218, 219, 220, 0.432);
}

#PokemonImg:hover{
    cursor: pointer;
}

#PokemonTypes{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
}

#PokemonId{
    color: rgb(118, 116, 116);
    font-weight: 500;
}

#PokemonName{
    color: black;
    font-size: larger;
    font-weight: 700;
    text-transform: capitalize; 
}